.page-header
  %h1 #{current_user.full_name}: Writeups

- if @pending_topics.any?
  - @pending_topics.each do |writeup_topic|
    = render 'form', writeup_topic: writeup_topic, writeup: Writeup.new

- if @writeups.present?
  - @writeups.each do |writeup|
    - class_name = {nil => 'panel-default', 1 => 'panel-warning', 2 => 'panel-warning'}.fetch(writeup.score, 'panel-success')
    .panel{class: class_name}
      .panel-heading
        .pull-right
          = link_to "edit", edit_cohort_writeup_topic_writeup_path(@cohort, writeup.writeup_topic, writeup)
          - if writeup.writeup_topic.active?
            |
            = link_to "delete",
                      cohort_writeup_topic_writeup_path(@cohort, writeup.writeup_topic, writeup),
                      method: :delete,
                      data: {confirm: "Are you sure?"}

        %h3.panel-title
          = writeup.writeup_topic.subject
          - if writeup.score?
            (score #{writeup.score})
      .panel-body
        = markdownify(writeup.response)
        = render 'writeup_comments/section', writeup: writeup
- else
  .jumbotron
    %h2 You have no writeups yet

- content_for :javascripts do
  :javascript
    $(function () {
      WriteupComment.initialize()
    });
