.row
  .col-md-6.col-md-offset-3
    .well
      %h1 Set Password
      = form_for @user, url: set_password_path(params[:verifier]), method: :post do |f|
        = errors_for(f)

        .form-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'form-control', autofocus: true
        .form-group
          = f.label :password, class: 'control-label'
          = f.password_field :password, class: 'form-control'
        .form-group
          = f.label :password_confirmation, class: 'control-label'
          = f.password_field :password_confirmation, class: 'form-control'
        .form-group
          = f.submit "Set My Password", class: "btn btn-primary"
