= page_header "Search Results for #{params[:q]}"

%ol.breadcrumb
  - if policy(@cohort).show?
    %li= link_to @cohort.name, cohort_path(@cohort)
  %li= link_to "Daily Plans", cohort_daily_plans_path(@cohort)
  %li.active Search Results

.row
  .col-md-12
    - if @daily_plans.present?
      - @daily_plans.each do |daily_plan|
        %p
          %strong
            = link_to daily_plan.date.strftime("%B #{daily_plan.date.day.ordinalize}, %Y (%A)"),
                      cohort_daily_plan_path(@cohort, daily_plan)

        %blockquote
          = excerpt(daily_plan.description, params[:q].to_s.split(" ").first)

        %hr
    - else
      .jumbotron
        %h2 No matched "#{params[:q]}"
