= form_for submission, url: url, html: {class: "form-horizontal"} do |f|

  = errors_for(f)

  .form-group
    = f.label :github_repo_name, "GitHub Repo Name", class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :github_repo_name, class: "form-control"
      %p.help-block
        Only include repo name, not your username or the full URL!

  .form-group
    = f.label :tracker_project_url, "Tracker Project URL", class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_field :tracker_project_url, class: "form-control"
      %p.help-block
        Optional

  .col-sm-offset-2
    = f.submit "Submit", class: "btn btn-primary"
