.page-header
  %h2 Edit Learning Experience for #{@curriculum.name}

%ul.breadcrumb
  %li= link_to 'Curriculums', curriculums_path
  %li= link_to @curriculum.name, curriculum_path(@curriculum)
  %li= link_to 'Learning Experiences', curriculum_learning_experiences_path(@curriculum)
  %li= link_to @learning_experience.name, curriculum_learning_experience_path(@curriculum, @learning_experience)
  %li.active Edit

= render 'form'
