.page-header
  .pull-right
  %h1 Delete Subject

%br
%ol.breadcrumb
  %li= link_to "Curriculums", curriculums_path
  %li= link_to @curriculum.name, curriculum_path(@curriculum)
  %li= link_to @subject.name, standard_path(@subject)
  %li.active Delete

.jumbotron
  %p
    Are you sure you want to delete "#{@subject.name}"?

  %p
    You cannot undo this action.

  = form_for @subject, method: :delete do |f|
    %p.text-center
      = f.submit "Yes, Delete", class: "btn btn-lg btn-danger", data: {confirm: "Are you sure?"}
