.page-header
  .pull-right
    = link_to 'Add Mentorship', new_cohort_student_mentorship_path(@cohort, @user), class: 'btn btn-info'

  %h1 Galvanize Student Mentorships for #{@user.full_name}

.row
  .col-md-12
    - if @mentorships.present?
      %table.table.table-hover
        %thead
          %th Mentor
          %th Email
          %th Company
          %th Status
          %th
        %tbody
          - @mentorships.each do |mentorship|
            %tr
              %td= mentorship.mentor.full_name
              %td= mentorship.mentor.email
              %td= mentorship.company_name
              %td= mentorship.status
              %td.text-right
                = link_to 'edit', edit_cohort_student_mentorship_path(@cohort, @user, mentorship)
                |
                = link_to 'delete',
                          cohort_student_mentorship_path(@cohort, @user, mentorship),
                          method: :delete,
                          data: {confirm: "Are you sure?"},
                          class: "text-danger"
    - else
      .jumbotron
        %h2 No mentors yet for #{@user.full_name}
