= errors_for(f)
- rows = 12

.form-group
  = f.label :name, class: "col-sm-2 control-label"
  .col-sm-4
    = f.text_field :name, class: "form-control", autofocus: true

.form-group
  = f.label :category, class: "col-sm-2 control-label"
  .col-sm-4
    = f.collection_select :category, Epic.categories, :first, :first, {}, class: "form-control"

.form-group
  = f.label :label, class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_field :label, class: "form-control"

.form-group
  = f.label :wireframes, class: "col-sm-2 control-label"
  .col-sm-10
    = f.text_area :wireframes, class: "form-control", rows: rows

.form-group
  .col-md-offset-2.col-md-4
    = f.submit class: 'btn btn-primary'
    - path = class_project_epics_path(@class_project)
    = link_to "cancel", path, class: "btn btn-default"
