= render "dashboard_nav"
%h3.page-title Javascript Challenges
.well
  .well-body
    To run these exercises, you must:
    %ul
      %li
        Have jasmine installed:
        %b npm install -g jasmine
      %li
        = link_to "Download", generate_dot_file_user_submitted_exercises_path(current_user)
        and move this file to your home directory. It must be named `.gschool.json`. If you are using Chrome with the default download settings, the following command should do this for you: 
        %b mv ~/Downloads/gschool.json ~/.gschool.json
      %li
        Run jasmine from within the root of the challenge folder. ie: run `jasmine` from within the `00_functions` directory. Currently, running `jasmine` from the root of the `javascript-challenges` directory will not successfully post results.
      %li
        The entirety of these challenges live here:
        =link_to "Javascript Challenges.", "https://github.com/gSchool/javascript-challenges"
        Currently, the master branch does not include the jasmine reporter that sends results to this page. If you would like to post results here, please work within the `jasmine-reporter` branch.
        %b git checkout jasmine-reporter
        should switch to the correct branch, if you are not there already.

%table.table.table-striped
  %thead
    %tr
      %th Directory Name
      %th Challenge
      %th Percent Complete
  %tbody
    - @challenge_student_challenges_presenter.challenges.each_with_index do |challenge_hash, index|
      %tr
        %td= challenge_hash[:directory_name]
        %td= link_to challenge_hash[:github_url], challenge_hash[:github_url]
        %td= format_progress_bar(challenge_hash[:percent_passing])